body {
	background: url('vines2.jpg') no-repeat fixed;	
	/* below allows image to resize with window */
	/* not supported by IE8-- */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	 padding-top: 50px;
 	 padding-bottom: 20px;

}

html, body { 
	height: 100%; width: 100%; margin: 0; 
}

.jumbotron {
	background-color: rgba(255,255,255,0.75);
	filter: alpha(opacity=75); /* For IE8 and earlier */
 	height: 25%;

}

/*.inner {
	padding-bottom: 13%;
}*/

h2 {
	float: left;
}


/* About page styling
------------------------- */

.avi {
	display: inline block;
}

.avi img {
	max-width: 12%;
}

#aboutmedia {
	max-height: 200px;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

/* Contact page styling
------------------------- */

#email {
	max-width: 3%;
	margin-right: 2%;
}

#contact {
	margin-left: 3%;
	margin-top: 3%;
}

#facebook {
	max-width: 3%;
	margin-right: 2%;
	margin-top: 1%;
}

#calendar {
	max-width: 3%;
	margin-right: 2%;
	margin-top: 1%;
}

/* Nav bar
------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

#cart {
	float: right;
	text-align: right;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Wells 
------------------------- */

.well {
	opacity: 0.93;
}

/* Images 
------------------------- */


